
h1{
    font-size:35px;
    text-align:center;
}

h2{
	color: #d94e81;
	text-align:center;
}

div{
	text-align: center;
}

.melonbtn{
	background-color: #76c807;
	color:#ffffff;

	

	margin:5px;
	padding:0.5rem 1rem;

	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	border: none;
	border-radius: 4px;
	
	display:inline-block;
	width:auto;

}

.geniebtn{
	background-color: #048dfd;
	color:#ffffff;

	

	margin:5px;
	padding:0.5rem 1rem;

	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	border: none;
	border-radius: 4px;
	
	display:inline-block;
	width:auto;
}

.flobtn{
	background-color: #3f3fff;
	color:#ffffff;

	

	margin:5px;
	padding:0.5rem 1rem;

	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	border: none;
	border-radius: 4px;
	
	display:inline-block;
	width:auto;
}

.ytbbtn{
	background-color:#C4302B;
	color:#ffffff;

	

	margin:5px;
	padding:0.5rem 1rem;

	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	border: none;
	border-radius: 4px;
	
	display:inline-block;
	width:auto;
}